<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idealselect.repository.IdealMapper">

    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into ideal (ideal_name, final_win_count, selection_id, win_count, battle_count)
        values (#{idealName}, #{finalWinCount}, #{selectionId}, #{winCount}, #{battleCount})
        ON DUPLICATE KEY UPDATE ideal_name = values(ideal_name), final_win_count = values(final_win_count), win_count = values(win_count), battle_count = values(battle_count)
    </insert>

    <update id="update">
        update ideal
        <set>
            <if test="ideal.idealName != null">ideal_name = #{ideal.idealName},</if>
            <if test="ideal.winCount != null">win_count = #{ideal.winCount},</if>
            <if test="ideal.battleCount != null">battle_count = #{ideal.battleCount},</if>
            <if test="ideal.finalWinCount != null">final_win_count = #{ideal.finalWinCount},</if>

        </set>
        where id = #{id}
    </update>

    <select id="findById" resultType="Ideal">
        select id, ideal_name, final_win_count, selection_id, win_count, battle_count
        from ideal
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete
        from ideal
        where id = #{id}
    </delete>


    <select id="findAllBySelectionId" resultType="Ideal">
        select id, ideal_name, final_win_count, selection_id, win_count, battle_count
        from ideal
        where selection_id = #{selectionId}
    </select>

    <insert id="saveAll" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="java.util.List">
        INSERT INTO ideal (ideal_name, final_win_count, selection_id, win_count, battle_count)
        VALUES
        <foreach collection="list" item="ideal" separator=",">
            (#{ideal.idealName}, #{ideal.finalWinCount}, #{ideal.selectionId}, #{ideal.winCount}, #{ideal.battleCount})
        </foreach>
        ON DUPLICATE KEY UPDATE ideal_name = values(ideal_name), final_win_count = values(final_win_count), win_count = values(win_count), battle_count = values(battle_count)
    </insert>



    <delete id="deleteAll" parameterType="java.util.List">
        DELETE FROM ideal WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>