<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mainPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .pagination {
            display: flex;
            list-style: none;
            padding: 0;
        }

        .pagination li {
            margin: 0 5px;
        }

        .pagination a {
            text-decoration: none;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            color: #333;
        }

        .pagination .active {
            background-color: #007BFF;
            color: #fff;
        }

        .row.equal > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }

        .row.equal {
            display: flex;
            flex-wrap: wrap;
        }

        .row.equal [class*='col-'] > .ibox-content {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .row.equal .product-imitation {
            flex: 1;
        }

        .row.equal .product-desc {
            flex: 1;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light mb-3">
    <div class="container-fluid">
        <!-- Navigation links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/main">이상형 월드컵</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">이상형 월드컵 만들기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mySelection">내 월드컵 관리</a>
            </li>
        </ul>

        <!-- Logout button -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="logout()">로그아웃</a>
            </li>
        </ul>

    </div>
</nav>
<div class="container-fluid d-flex">
    <form class="d-flex">
        <div class="col-xl-3">
            <button type="button" class="btn btn-outline-secondary btn-block" onclick="sortByPopularity()">인기순</button>
        </div>

        <div class="col-xl-3">
            <button type="button" class="btn btn-outline-secondary btn-block" onclick="sortByLatest()">최신순</button>
        </div>
        <!-- Search bar and button -->
        <div class="col-xl-6">
            <div class="input-group custom-container">
                <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" onclick="search()">검색</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div id="content" class="row equal mt-5">
    <!-- Content will be dynamically updated here -->
</div>

<ul class="pagination mt-5 d-flex justify-content-center" id="pagination" th:with="num=(${selectionList == null ? 0 : (selectionList.size() % 10 == 0 ? selectionList.size() / 10 : selectionList.size() / 10 + 1)})">
    <li th:if="${pagePrefix != 0}">
        <a href="#" onclick="changePage('prev')">이전</a>
    </li>
    <li th:each="i : ${#numbers.sequence(1, num)}">
        <a href="#" th:attr="onclick='changePage(' + ${i} + ')'" th:text="(${pagePrefix} + ${i})">0</a>
    </li>
    <li th:if="${selectionList.size() == 100}">
        <a href="#" onclick="changePage('next')">다음</a>
    </li>
</ul>

<script th:inline="javascript">
    var selectionList = [[ ${selectionList} ]];
    var currentPage = 1;
    var itemsPerPage = 10;

    for (const selectionListElement of selectionList) {
        if(selectionListElement.id === 553){
            console.log(selectionListElement);
        }
    }

    function changePage(page) {
        if (page === 'prev') {
            getPrevPaginationList();
        } else if (page === 'next') {
            getNextPaginationList();
        } else if (typeof page === 'number') {
            console.log(page);
            currentPage = page;
        }

        // Update the active state of the pagination buttons.
        //updatePagination();
        updateContent();
    }
    console.log(1);

    function updateContent() {
        var startIdx = (currentPage - 1) * itemsPerPage;
        var endIdx = startIdx + itemsPerPage;

        var contentDiv = document.getElementById('content');
        contentDiv.innerHTML = '';

        var rowDiv;
        for (var i = startIdx; i < endIdx && i < selectionList.length; i++) {
            var selection = selectionList[i];

            if (i % 5 === 0) {
                rowDiv = document.createElement('div');
                rowDiv.className = 'row equal mb-5';
            }

            // Create HTML elements dynamically
            var colDiv = document.createElement('div');
            colDiv.className = 'col-xs-6 col-sm-3 col-lg-2 mx-auto';

            var iboxContentDiv = document.createElement('div');
            iboxContentDiv.className = 'ibox-content product-box';

            var productImitationDiv = document.createElement('div');
            productImitationDiv.className = 'product-imitation';
            productImitationDiv.style = 'height: 200px; padding: 0px;';

            var img1Div = document.createElement('div');
            console.log("aa");
            if (selection.img1) {
                var imagePath = '/api/selection/image/' + selection.filePath + '/' + encodeURIComponent(selection.img1.trim());
                console.log("bb");
                console.log(imagePath.toString());
                img1Div.style = 'float: left; width: 50%; height: 180px; background-image: url(' + imagePath + '); background-repeat: no-repeat; background-size: cover; background-position: center top; display: flex;';
            } else {
                console.log("cc");
                img1Div.style = 'float: left; width: 50%; height: 180px; background-color: #ccc;';
            }

            var img2Div = document.createElement('div');
            if (selection.img2) {
                var imagePath = '/api/selection/image/' + selection.filePath + '/' + encodeURIComponent(selection.img2.trim());
                console.log(imagePath);
                img2Div.style = 'float: left; width: 50%; height: 180px; background-image: url(' + imagePath + '); background-repeat: no-repeat; background-size: cover; background-position: center top; display: flex;';
            } else {
                img2Div.style = 'float: left; width: 50%; height: 180px; background-color: #ccc;';
            }

            productImitationDiv.appendChild(img1Div);
            productImitationDiv.appendChild(img2Div);

            var productDescDiv = document.createElement('div');
            productDescDiv.className = 'product-desc';
            productDescDiv.style = 'cursor: pointer';
            productDescDiv.setAttribute('data-id', selection.id);

            // Other elements
            var productNameAnchor = document.createElement('a');
            productNameAnchor.className = 'product-name';
            productNameAnchor.href = '#';
            productNameAnchor.innerHTML = selection.title;

            var smallDiv = document.createElement('div');
            smallDiv.className = 'small m-t-xs';
            smallDiv.innerHTML = selection.body;

            // Edit and delete buttons
            var btnGroupDiv = document.createElement('div');
            btnGroupDiv.className = 'btn-group mt-3';
            btnGroupDiv.setAttribute('data-id', selection.id);


            var startButton = document.createElement('button');
            startButton.type = 'button';
            startButton.className = 'btn btn-sm btn-outline btn-danger';
            startButton.innerHTML = '<i class="fa fa-edit"></i> 시작하기';

            var rankingButton = document.createElement('button');
            rankingButton.type = 'button';
            rankingButton.className = 'btn btn-sm btn-outline btn-primary fdelete';
            rankingButton.innerHTML = '<i class="fa fa-trash"></i> 랭킹보기';

            btnGroupDiv.appendChild(startButton);
            btnGroupDiv.appendChild(rankingButton);

            // Append everything to the container div
            productDescDiv.appendChild(productNameAnchor);
            productDescDiv.appendChild(smallDiv);
            productDescDiv.appendChild(btnGroupDiv);

            iboxContentDiv.appendChild(productImitationDiv);
            iboxContentDiv.appendChild(productDescDiv);
            colDiv.appendChild(iboxContentDiv);

            rowDiv.appendChild(colDiv);
            contentDiv.appendChild(rowDiv);

            startButton.addEventListener('click', function(event) {
                handleStartClick(event);
            });

            rankingButton.addEventListener('click', function(event) {
                handleRankingClick(event);
            });
        }
    }

    function handleStartClick(event) {
        var selectedId = event.currentTarget.parentElement.getAttribute('data-id');
        window.open('http://localhost:8080/play?selectionId=' + selectedId, 'play');
    }

    function handleRankingClick(event) {
        var selectedId = event.currentTarget.parentElement.getAttribute('data-id');

    }

    function getNextPaginationList() {
        console.log("next");
        window.location.href = '/main?pagePrefix=' + (parseInt([[${pagePrefix}]]) + 10);
    }

    function getPrevPaginationList() {
        console.log("prev");
        window.location.href = '/main?pagePrefix=' + (parseInt([[${pagePrefix}]]) - 10);
    }

    function updatePagination() {
        var paginationLinks = document.querySelectorAll('.pagination a');
        paginationLinks.forEach(function (link) {
            link.classList.remove('active');
            if (link.innerHTML == currentPage) {
                link.classList.add('active');
            }
        });
    }

    function logout() {
        $.ajax({
            type: 'GET',
            url: '/api/logOut',
            success: function (response) {
                alert("로그아웃");
                window.location.href = '/login';
            },
            error: function (error) {
                alert(error.responseJSON.message);
            }
        });
    }

    function changeSelection() {
        // Implement if needed
    }

    function sortByPopularity() {
        alert("인기순으로 정렬합니다.");
    }

    function sortByLatest() {
        alert("최신순으로 정렬합니다.");
    }

    function search() {
        alert("검색 기능 구현");
    }

    changePage(1);
</script>
</body>
</html>

