<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ReplyPage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script src="/js/idealFunctions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-sm bg-light mb-3">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/main">이상형 월드컵</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">이상형 월드컵 만들기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mySelection">내 월드컵 관리</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="logout()">로그아웃</a>
            </li>
        </ul>
    </div>
</nav>

<div id="writeCommentBox" style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
    <input type="text" id="comment-input" style="width: 60vh; height: 6vh; margin-right: 5px;" />
    <button id="saveComment" type="button" style="width: 6vh; height: 6vh;">댓글 작성</button>
</div>

<div id="content" style="margin-top: 40px; display: flex; flex-direction: column; align-items: center;"></div>

</div>

<ul class="pagination mt-5 d-flex justify-content-center" id="pagination" th:with="num=(${replyList == null ? 0 : (replyList.size() % 10 == 0 ? replyList.size() / 10 : replyList.size() / 10 + 1)})">
    <li th:if="${pagePrefix != 0}">
        <a href="#" onclick="changePage('prev')">이전</a>
    </li>
    <li th:if="${num != 0}" th:each="i : ${#numbers.sequence(1, num)}">
        <a href="#" th:attr="onclick='changePage(' + ${i} + ')'" th:text="(${pagePrefix} + ${i})"></a>
    </li>
    <li th:if="${replyList.size() == 100}">
        <a href="#" onclick="changePage('next')">다음</a>
    </li>
</ul>
</body>
</html>
<script th:inline="javascript">

    var replyList = [[ ${replyList} ]];
    console.log(replyList);
    var currentPage = 1;
    var itemsPerPage = 10;

    var saveBtn = document.getElementById("saveComment");
    saveBtn.addEventListener('click', function (event){
        saveComment();
    })

    function updatePage() {
        var pagination = document.getElementById("pagination");
        pagination.innerHTML = '';
        var pageNum = replyList == null ? 0 : (replyList.length % 10 == 0 ? replyList.length / 10 : replyList.length / 10 + 1);

        if ([[${pagePrefix}]] != 0) {
            var prev = document.createElement('a');
            prev.href = "#";
            prev.textContent = "이전";
            prev.onclick = function() {
                changePage('prev');
            };
            pagination.appendChild(prev);
        }

        if (pageNum != 0) {
            for (var i = 1; i < pageNum; i++) {
                (function(i) {
                    var page = document.createElement('a');
                    page.href = "#";
                    page.textContent = ([[${pagePrefix}]] + i);
                    page.onclick = function() {
                        changePage(i);
                    };
                    pagination.appendChild(page);
                })(i);
            }
        }

        if (replyList.length == 100) {
            var next = document.createElement('a');
            next.href = "#";
            next.textContent = "다음";
            next.onclick = function() {
                changePage('next');
            };
            pagination.appendChild(next);
        }
    }

    function saveComment() {
        var comment = document.getElementById("comment-input").value;
        $.ajax({
            type: 'POST',
            url: '/api/reply/save', // URL 수정
            data: JSON.stringify({
                comment: comment,
                idealSelectionId: [[${selectionId}]]
            }),
            contentType: "application/json",
            success: function (response) {
                replyList = response;
                currentPage = 1;
                updatePage();
                changePage(1);
            },
            error: function (error) {
                alert(error.responseJSON.message);
            }
        });
    }
    function changePage(page) {
        console.log(page);

        if (page === 'prev') {
            getPrevPaginationList();
        } else if (page === 'next') {
            getNextPaginationList();
        } else if (typeof page === 'number') {
            currentPage = page;
        }

        updatePagination();
        updateContent();
    }

    function updateContent() {
        var startIdx = (currentPage - 1) * itemsPerPage;
        var endIdx = startIdx + itemsPerPage;

        var contentDiv = document.getElementById('content');
        contentDiv.innerHTML = '';

        for (var i = startIdx; i < endIdx && i < replyList.length; i++) {
            var reply = replyList[i];
            var replyDiv = document.createElement('div');
            replyDiv.className = 'comment-box';

            var commentHeadDiv = document.createElement('div');
            commentHeadDiv.style.display = 'flex';
            commentHeadDiv.style.marginLeft = '12px';

            var authorName = document.createElement('h4');
            authorName.style.margin = '2px';
            authorName.textContent = reply.userName + "   |   ";

            var updateTime = document.createElement('p');
            updateTime.style.margin = '2px';
            updateTime.textContent = reply.updateTime;

            commentHeadDiv.appendChild(authorName);
            commentHeadDiv.appendChild(updateTime);

            if (reply.userId == [[${user.id}]]) {

                var deleteBtn = document.createElement('button');
                deleteBtn.type = 'button';
                deleteBtn.className = 'btn btn-sm btn-outline btn-danger';
                deleteBtn.textContent = '삭제';
                deleteBtn.id = i;

                deleteBtn.addEventListener('click', function (event) {
                    console.log(event.target.id);
                    $.ajax({
                        type: 'DELETE',
                        url: '/api/reply/delete',
                        data: JSON.stringify({
                            id: replyList[event.target.id].id,
                            userId: replyList[event.target.id].userId,
                            idealSelectionId: [[${selectionId}]]
                        }),
                        contentType: "application/json",
                        success: function (response) {
                            replyList = response;
                            updatePage();
                            changePage(currentPage);
                        },
                        error: function (error) {
                            alert(error.responseJSON.message);
                        }
                    });
                });

                var btnContainer = document.createElement('div');
                btnContainer.style.marginLeft = 'auto';
                btnContainer.appendChild(deleteBtn);

                commentHeadDiv.appendChild(btnContainer);
            }

            var commentDiv = document.createElement('p');
            commentDiv.style = 'margin-left: 12px;';
            commentDiv.className = "comment";
            commentDiv.textContent = reply.comment;

            replyDiv.appendChild(commentHeadDiv);
            replyDiv.appendChild(commentDiv);

            contentDiv.appendChild(replyDiv);
        }
    }


    function getNextPaginationList() {
        console.log("next");
        window.location.href = "/reply?id=" + [[${selectionId}]] + "&pagePrefix=" + (parseInt([[${pagePrefix}]]) + 10);
    }

    function getPrevPaginationList() {
        console.log("prev");
        window.location.href = "/reply?id=" + [[${selectionId}]] + "&pagePrefix=" + (parseInt([[${pagePrefix}]]) - 10);
    }

    function updatePagination() {
        var paginationLinks = document.querySelectorAll('.pagination a');
        paginationLinks.forEach(function (link) {
            link.classList.remove('active');
            if (link.innerHTML == [[${pagePrefix}]] + currentPage) {
                link.classList.add('active');
            }
        });
    }

    changePage(1);
</script>